doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Real-Time map of stream of tweets by Chicago startups. Built with Node.js by FlyoverWorks.')
    meta(name='keywords', content='twitter map, tweet stream, chicago startup tweets, chicago tweets, chi tweets, chitweets, node.js twitter map')
    title CHI Tweets: Live map of stream of tweets by Chicago startups
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600', type='text/css')
    link(rel='stylesheet', href='/style/chitweets.min.css')
    script(src='http://code.jquery.com/jquery-1.10.1.min.js')
    script(src='components/socket.io-client/socket.io.js')
    script(src='/script/chitweets.min.js')
    script.
      window.onload = addGoogleMap
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga')

      ga('create', 'UA-55801500-1', 'auto')
      ga('require', 'displayfeatures')
      ga('send', 'pageview')
  body
    div(style="width: 100%; height: 100%; overflow: hidden;")
      #alert
      #map
        #map-canvas
        footer
          div#bic
            a(href="http://www.builtinchicago.org", target="_blank")
              img(src="http://bit.ly/zmOmuo")
          div#by by 
          div#logo
            a(href="http://www.flyoverworks.com", target="_blank")
              img(src="/img/logo.png", alt="FlyoverWorks")
          div#add-btn Add your company<br/>to the map
      #tweets
      #mask
      #add-account-form
        div.close
          img(src="https://maps.gstatic.com/mapfiles/api-3/images/mapcnt3.png", draggable="false", style="position: absolute; left: -2px; top: -336px; width: 59px; height: 492px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;")
        div
          form#contact(method="post", action="contact")
            h3 Would you like to have your startup's tweets appear on this map?
            p Please fill in the information below to get added:
            div
              label Your Name
              input(type="text", name="name", id="nameField")
            div
              label Your Email
              input(type="email", name="email", id="emailField")
            div
              label Company Name
              input(type="text", name="company", id="companyField")
            div
              label Twitter Handle
              input(type="text", name="twitter", id="twitterField")
            div
              label Office Address
              input(type="text", name="address", id="addressField")
            div
              button#submit Submit
